{% extends "base.html.twig" %}

{% block content %}
	<h2>Demandes d'adhésion</h2>
	<div class="grid">
		<p class="griditem">n° d'adhérent</p>	
		<p class="griditem">Nom prénom</p>	
		<p class="griditem">date demande d'adhésion</p>	
		<p class="griditem">Email</p>
		<p class="griditem">Adresse</p>	
		<p class="griditem">Telephone</p>	
		<p class="griditem">Option</p>
	{% for user in users %}
		{% if user.demande_adhesion != NULL %}
			<p class="griditem">{{ user.id }}</p>
			<p class="griditem">{{ user.nom }} {{ user.prenom }}</p>
			<p class="griditem">{{ user.demande_adhesion | date('d/m/Y') }}</p> 
			<p class="griditem">{{ user.email }}</p>
			<p class="griditem">{{ user.adresse }}</p>
			<p class="griditem">{{ user.telephone }}</p>
			<div class="griditem">
			<form action="{{ path_for('handleAdhesions', {id:user.id}) }}" method="POST">
				<input class="btn" type="submit" name="valider" value="valider">
				<input class="btn" type="submit" name="refuser" value="refuser">
			</form>
		</div>
		{% endif %}
	{% endfor %}
	</div>
{% endblock %}
