{% extends "base.html.twig" %}

{% block title %}
    {{parent()}} - Emprunts
{% endblock %}
{% block content %}
<div class="formular">
    <p>L'adhérant {{user.prenom}} {{user.nom}} (Réf : {{user.id}}) a emprunté {{ documents | length }} document(s).</p>
        {% for doc in documents %}
            <p>Ref : {{doc.id}} - ({{doc.type()}}) Titre : {{doc.nom}}</p>
        {% endfor %}
        <div>
            <a class="btn" href="{{path_for('home')}}">Retour à l'accueil</a>
        </div>
</div>
{% endblock %}