{% extends "base.html.twig" %}

{% block content %}
    <a href="{{ path_for('ajout_membre') }}" class="btn">Ajouter un membre</a>

    {% for user in users %}
    <div>
        {{user.nom}}
        {{user.prenom}}
        {{user.email}}
        {{user.adresse}}
        {{user.adhesion}}
        <a href="{{ path_for('details_membre',{id:user.id}) }}" class="btn">détails</a>
        {% endfor %}
    </div>

{% endblock %}