<nav>
    <h3 class="nav-title">Medianet Staff</h3>
    <ul class="nav-items-group">
        <li class="nav-item"><a href="{{ path_for('home') }}" class="nav-link">Emprunter/Retourner</a></li>
        <li class="nav-item"><a href="{{ path_for('membres') }}" class="nav-link">Membres</a></li>
        <li class="nav-item"><a href="{{ path_for('listReservation') }}" class="nav-link">Réservations</a></li>
        <li class="nav-item"><a href="{{ path_for('watchRecap') }}" class="nav-link">Emprunts</a></li>
        <li class="nav-item"><a href="{{ path_for('listdoc') }}" class="nav-link">Documents</a></li>
        <li class="nav-item"><a href="{{ path_for('listAdhesions') }}" class="nav-link">Demandes d'adhésion</a></li>
    </ul>
</nav>
