{% extends "base.html.twig" %}

{% block content %}
<div class="profil">
	<div class="profil-card">
		<h2 class="profil-card-title">Informations</h2>
		<hr>
		{# <img src="" id="tete" alt="photo"> #}
		<p>{{ user.nom }} {{ user.prenom }}</p>
		<p>{{ user.email }}</p>
		<p>{{ user.adresse }}</p>
		<p>{{ user.telephone }}</p>
	</div>
	<div class="profil-card">
		<h2 class="profil-card-title">Gestions</h2>
		<hr>
		<a class="btn" href="{{ path_for('formUpdateUser',{id:user.id}) }}"> Modifier mes données personnels </a>
		<br>
		<a class="btn" href="{{ path_for('updatePwd',{id:user.id}) }}"> Changer de mot de passe </a>
		<br>
		<a  class="btn" href="{{ path_for('delete',{id:user.id}) }}"> Supprimer le compte </a>
	</div>
	<div class="profil-list">
		<h2 class="profil-card-title">Ses Emprunts</h2>
		<hr>
		<ul class="profil-document-list">
			{% for emprunt in user.emprunts %}
			<li class="document-item">
				<div class="document-title">{{emprunt.document.type()}} : {{emprunt.document.nom}}</div>
				<div class="document-content">
					<div>Emprunté le : {{emprunt.date_emprunt}}</div>
					<div>A rendre avant : {{emprunt.date_limite}}</div>
				</div>
				<div class="document-action">
					<a class="btn" href="{{ path_for('showDocument', {id: emprunt.document.id}) }}"> Voir le document</a>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
