{% extends "base.html.twig" %}

{% block content %}
	<h2>Récapitulatif des emprunts</h2>
	<form action="{{ path_for('byUser') }}" method="post">
		<input type="text" name="idUser">
		<input type="submit" value="Rechercher">
	</form>
	<table>
		<thead>
			<th>Réference</th>
			<th>n° d'adhérent</th>		
			<th>Emprunt</th>		
			<th>Limite</th>		
			<th>Retour</th>		
		</thead>
	{% for emprunt in emprunts %}
		<tr>
			<td>{{ emprunt['document_id'] }}</td> 
			<td>{{ emprunt['user_id'] }}</td>
			<td>{{ emprunt['date_emprunt']|date('d/m/Y') }}</td> 
			{% if (emprunt['date_limite'] >= emprunt['date_emprunt']) %}  
				<td style="border: solid 3px red;"> {{emprunt['date_limite']|date('d/m/Y')}} </td> 
			{% else %}
				<td style="border: solid 2px black;"> {{emprunt['date_limite']|date('d/m/Y')}} </td> 
			{% endif %}
			<td> {{emprunt['date_retour']|date('d/m/Y')}} </td> 
		</tr>
	{% endfor %}
	</table>
{% endblock %}
