{% extends "base.html.twig" %}

{% block title %}{{Parent}} - document.nom{% endblock %}

{% block content %}
    <div>
        <a class="btn" href="{{ path_for('dispo_switch',{id:document.id}) }}">Réserver</a>
    </div>

<div class="formular">
    <div>
        <img src="https://cdn.pixabay.com/photo/2016/01/23/16/02/book-1157658_960_720.png" alt="">
    </div>
    <h2>Titre : {{ document.nom }}</h2>
    <h3>Genre : {{ document.genre }}</h3>
    <p>Resumé : {{ document.resume }}</p>
    <div>
        {% block documentDetails %}{% endblock %}
    </div>
    <div>
        {% if document.disponible == 0 %}
            <i class="fas fa-times-circle" style="color: #FF0000;"> indisponible</i>
        {% elseif document.disponible == 1 %}
            <i class="fas fa-check-square" style="color: #4CAF50;"> disponible</i>
        {% elseif document.disponible == 2%}
            <i class="fas fa-times-circle" style="color: #FF0000;"> réserver</i>
        {% endif %}
    </div>

</div>
{% endblock %}