<div id="card-{{ media.id }}" class="card">
    {% if media.disponible == 0 %}
        <img class="card-img-top disabled" src="https://cdn.pixabay.com/photo/2016/01/23/16/02/book-1157658_960_720.png"  alt="">
    {% else %}
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/01/23/16/02/book-1157658_960_720.png"  alt="">
    {% endif %}
    <div class="card-body">
        <div class="card-title" title="{{media.nom}}">
            {% if media.type() == 'CD' %}
                <i class="fas fa-music"></i>
            {% endif %}
            {% if media.type() == 'DVD' %}
                <i class="fas fa-video"></i>
            {% endif %}
            {% if media.type() == 'Livre' %}
            <i class="fas fa-book"></i>
            {% endif %}
            
            
            {{ media.nom }}
        </div>
        <hr>
        <div class="card-item">
            Réf : {{ media.id }}
        </div> 
        <div class="card-item">
            Genre : {{ media.genre }}
        </div> 
        {% if media.disponible == 0 or media.peutEtreReserver() == false%}
            <i class="fas fa-times-circle" style="color: #FF0000;"> indisponible</i>
        {% else %}
            <i class="fas fa-check-square" style="color: #4CAF50;"> disponible</i>
        {% endif %}
        <div class="card-bottom">
            <a class="btn" href="{{ path_for('showDocument', {id: media.id}) }}">Details</a>
            {% if media.peutEtreReserver() %}
              <a class="btn" href="{{ path_for('reserver', {id: media.id}) }}">Reserver</a>
            {% endif %}           
        </div>
       
    </div>
    {% if emprunt %}
        {{ emprunt.date_limite }}
    {% endif %}
</div>