{% extends "base.html.twig" %}

{% block content %}
	<div>
		<h2>Informations</h2>
		<img src="" id="tete" alt="photo">
	</div>
		<p>{{ user.nom }} {{ user.prenom }}</p>
		<p>{{ user.email }}</p>
		<p>{{ user.adresse }}</p>
		<p>{{ user.telephone }}</p>
	<div>
		<a href="{{ path_for('formUpdateUser') }}"> Modifier mes données personnels </a>
		<br>
		<a href="{{ path_for('updatePwd') }}"> Changer de mot de passe </a>
	</div>
	<div>
		<h2>Mes Emprunts</h2>
	</div>
{% endblock %}
